h1 {
  color: #240cff;
}
h1 {
  font-size:24px;
  font-weight: bold;
  font-style: italic;
}

h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}
h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}
.para{
    color:  #4d4d4d;
}
a{
    color: #8A2BE2;
text-decoration:none ;
}
